
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- include header.html -%}
        
        <!-- POST Headers -->
        <br>
        <header class="post-header">
          <h1 class="posttitle">{{ page.title | escape }}</h1>
          <div id="postmetainfo">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- if page.author -%}
              {% for author in page.author %} By {{ author }}
                {%- if forloop.last == false %}, {% endif -%}
              {% endfor %}
             <br>
            {%- endif -%}
            Published on: {{ page.date | date: date_format }}
            {%- if page.modified_date -%}
            ~ 
              {%- assign mdate = page.modified_date | date_to_xmlschema -%}
              {{ mdate | date: date_format }}
            {%- endif -%}
          </div>
      </header>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

<!--<div class="wrapper">

---
layout: default
---

<br>

  <header class="post-header">
    <h1 class="posttitle">{{ page.title | escape }}</h1>
    <div id="postmetainfo">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- if page.author -%}
          {% for author in page.author %} By {{ author }}
            {%- if forloop.last == false %}, {% endif -%}
          {% endfor %}
          <br>
        {%- endif -%}
        Published on: {{ page.date | date: date_format }}
        {%- if page.modified_date -%}
        ~ 
          {%- assign mdate = page.modified_date | date_to_xmlschema -%}
          {{ mdate | date: date_format }}
        {%- endif -%}
      </div>
  </header>

  {{ content }}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</div>-->
